language: python
cache: pip
python:
- 3.6
- 3.5
- 3.4
- 2.7

install: pip install -U tox-travis codecov
script: tox
after_success: codecov

deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  on:
    tags: true
  user: beerbuildbot
  password:
    secure: jW6tOmxBs28o7fdWhQuHbAZbLuLVFu+WUtfaKkEhzONWpjJqYU/HWsugznilCWC1JB8OYHn0y/KdWzF/5JL0aICW2S9qf7Z/tgd3bcbJgEaAZrI92tKYEWv8qc91LkFfaC3jg/qkvAz1ePZ445p7kOh3WnOmgyYy5qNaw46M+EFSXnQJ7S5UQ+kc0Yu1FX6KkccOItIZns4klFO+6MA1o+Alt5fjN67ifrPtJih6m1k15vh7COsUyL+eYxRSYNfDDcCkiYv9qcXRR2JA9IdT/uJ8hUxKm2T5jeAH8LNDo1/XSQ+RZiR8ls93MQx/y0CcFht0K0Qa1h5MA7ZP5dh3XCpPbXDQmt0YpN6csjGLfdSwKItVaWNxLBbuxHf1/jZe+1kdzn8ovYXh+7GmxwWm6DnNf7J4pnwKRQnB5K650lJucx03rbuX+Q+rtWGDyLjYPZqTj1Dg7dDPplISAGmLTg1bMm9eGWx4zFtZsj6cLMfM/Sp5ZXFlPLpfj0eHQMPJ0fktg+WjvKH8K5ZOU81FtfsTA4qJ8Z6+TFNBXxxcR0z+pI0DOpI7PxhleGJRDuKB4uEO7Sg4WlLH/pXOolYwNTLjU56GBtBTIc3p+uLxzzAqPwsFK0/jjAAbiWg7lN8b0WGmDT93A1Dcv9QG9e6l039ZwHfUUzYS7DIJFCguy/k=

notifications:
  slack:
    secure: bQWSFp1qBMgHaWuuozEtJ/h+dN8KaDxnH9HVEK+laXpVDteVJn5vm5rz58e5htcyUPES8TeRcMcL7ZXJFrgSEfTtb85HhAp7mJz1AsKOb7rFdXVuCXxj0fCUUSShFTXYae+h/VE2fYchjxhhttWmKCqbi5Ez63qGTt4lEaDv/38e/SCydRcYLJQMXnQEPWHgCm813A96v8L6gK7LX3onDAwwVFoBJaed9GESycQlGTy+uYfoK9T20CXPFX1OiQKVEb0aEYXaKzod5bm+a0dNnCBvhl9cf692T34utqdW1uWPai+IakuGGlY6S3BF2yq16pg7iHpaMNW7JTn8d52d9QwNFuCUSX3PW1dIttvy2sZOSk1gzWRWuJpderJeVuc9xv/c2kGTHcNNy9PQVjIjLhPvwM206bwdsYdOCv7k/h5P/8mBrwNIxFUz7XRhgr0kI4iFAYAmeAQfLM9ZHV/RtH9YqsCCb/cKC7OeEcXAntoMgFlLjFNH4dPFF8D+TxveTiElSjH7ZoLlg8EOTUbuN0t+jJ2Wlfc8/ybF004bZqY2otvN2oT6+pDP6e8ZqT9y26k8c6iiS9eN+c1JCSSypAkSJKeFmV+2Uk+vwTYFTNkancdOd9mH3/Ir6jAtOL9Ur9HvnvOBMUt75ONZqSn0jX4EoLvmutgWZFh16xKosXg=
