
# Dependencies
lark-parser
marshmallow
marshmallow-polyfield
pika
pyjwt
requests
simplejson
six
wrapt
yapconf >= "0.2.1"
enum34 ; python_version < "3.4"
futures ; python_version < "3.0"

# Documentation Dependencies
sphinx
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
black ; python_version > "3.5"
coverage
flake8
mock
pytest
pytest-lazy-fixture
pytz
tox
twine
wheel
