
# Dependencies
six
requests
marshmallow
pika
wrapt
lark-parser
enum34 ; python_version < "3.4"
futures ; python_version < "3.0"

# Documentation Dependencies
sphinx
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
mock
nose
rednose
coverage
nosexcover
tox
pytz
flake8
wheel
twine
