
# Dependencies
lark-parser
marshmallow
pika
requests
six
wrapt
yapconf >= "0.2.1"
enum34 ; python_version < "3.4"
futures ; python_version < "3.0"

# Documentation Dependencies
sphinx
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
coverage
flake8
mock
pytest
pytz
tox
twine
wheel
