# Actual dependencies come from setup.py
-e .

# Documentation Dependencies
sphinx ~= 6.2.1
sphinx_rtd_theme < 1

# Test and Lint Dependencies
black
coverage
flake8
mock
pytest
pytest-lazy-fixtures
requests-mock
